.container {
    display: flex;
    justify-content: space-between; /* Espacement égal entre les images */
  }
  
  .image-container {
    flex: 1; /* Chaque image-container occupe un tiers de l'espace */
    text-align: center; /* Pour centrer le texte de la description */
    border-radius: 10px; /* Bords arrondis */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Ombre */
  }
  
  .image-link {
    text-decoration: none; /* Supprime la décoration par défaut du lien */
    color: inherit; /* Hérite la couleur du texte du parent */
    display: block; /* Fait du lien un bloc pour occuper toute la zone cliquable */
  }
  
  .image-container img {
    max-width: 100%; /* Les images ne dépasseront pas la largeur du conteneur */
    height: auto;
    max-height: 200px; /* Définissez la hauteur maximale souhaitée */
  }
  
  .image-container p {
    margin-top: 10px; /* Espace entre l'image et la description */
  }
  